html
{
	background: black;
	color: white;
	
	background-image: url('../images/seats.jpeg');
	background-repeat: no-repeat;
	background-position: bottom center;

	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2 { color: #66f; }

h1
{
	background-image: url('../images/lighting.jpeg');
	padding: 0.5em;
}

#status
{
	background: #ccf;	
	border: 1px solid #66f;
	color: #333;
	float: left;
	margin: .5em;
	padding: .5em;
	width: 12.5em;
}

#status:before
{
	color: #66f;
	content: "Status";
	font-size: smaller;
	font-weight: bold;
}

.timestamp
{
	color: #66f;
	font-size: tiny;
	display: block;
}

#content
{
	background: #eee;	
	border: 1px solid #666;
	color: #333;
	margin: .5em;
	margin-left: 15em;
	padding: .5em;
}

#content:before
{
	color: #666;
	content: "Content";
	font-size: smaller;
	font-weight: bold;
}

.response, .error
{
	border: 1px solid;
	display: block;
	margin: .5em;
	padding: .5em;
}


.response { background: #ccc; }
.error { background: #f99; }

.response .content, .error .message
{
	border: 1px dashed;
	font-family: monospace;
	margin: .5em;
	padding: .5em;
	white-space: pre;
}

.response:before, .error:before
{
	font-size: smaller;
	font-weight: bold;
}

.response:before { content: "Ajax Response"; }
.error:before { content: "Error"; }

.response .type:before { content: "Type: "; }

.timestamp { font-size: smaller; }

#buttons { float: right; }

iframe
{
	border: 0;
	margin: 0;
	padding: 0;
}

#mainframe
{
	height: 90%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.sandboxlabel
{
	color: orange;
	font-family: monospace;
	font-size: smaller;
}

.sandbox
{
	border: 3px solid orange;
	position: relative;
}

.sandbox:before
{
	content: 'This is a sandbox for untrusted ECMAScript';
	display: block;

	border-bottom: 3px solid orange; 
	color: orange;
	font-size: smaller;
}

h1.main
{
	float: right;
	font-size: 150%;
	margin-bottom: .25em;
}

a
{
	text-decoration: none;
}

.ajaxContext
{
	font-family: monospace;
	font-size: smaller;
	font-weight: bold;
}

.ajaxContext:before
{
	content: 'Ajax Context: "';
}

.ajaxContext:after
{
	content: '"';
}
