@import url("http://fonts.googleapis.com/css?family=Federo");

html
{
	background: black;
	color: white;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

body
{
	margin-top: 40px;
}

h1, h2, h3, h4 { font-family: Federo; }
h1, h2 { color: #950f0f; }

#logo
{
	position: fixed;
	right: 0;
	top: 0;
}

#top-curtain
{
        position: fixed;
        top: -80px;
        left: 0;
        height: 129px;
        width: 2400px;

        z-index: -1;

        background-image: url('images/curtain-top.png');
        background-repeat: no-repeat;
        background-position: left;
}


#left-curtain
{
        position: fixed;
        top: 0;
        left: 0;
        height: 2000px;
        width: 111px;

        z-index: 0;

        background-image: url('images/curtain-left.png');
        background-repeat: no-repeat;
        background-position: left;
}

#right-curtain
{
        position: fixed;
        top: 0;
        right: 0;
        height: 2000px;
        width: 111px;

        z-index: 0;

        background-image: url('images/curtain-right.png');
        background-repeat: no-repeat;
        background-position: left;
}

#status
{
	background: #ccf;	
	border: 1px solid #66f;
	color: #333;
	float: left;
	margin: .5em;
	padding: .5em;
	width: 12.5em;
}

#status:before
{
	color: #66f;
	content: "Status";
	font-size: smaller;
	font-weight: bold;
}

#content
{
	background: #eee;	
	border: 1px solid #666;
	color: #333;
	margin: .5em;
	margin-left: 15em;
	padding: .5em;
}

#content:before
{
	color: #666;
	content: "Content";
	font-size: smaller;
	font-weight: bold;
}

.block
{
	background: white;
	border-radius: .5em;
	color: black;
	margin-left: 5em;
	margin-right: 5em;
	padding: .25em .5em .25em .5em;
}

.response, .error
{
	border: 1px solid;
	display: block;
	margin: .5em;
	padding: .5em;
}


.response { background: #ccc; }
.error { background: #f99; }

.response .content, .error .message
{
	border: 1px dashed;
	font-family: monospace;
	margin: .5em;
	padding: .5em;
	white-space: pre;
}

.response:before, .error:before
{
	font-size: smaller;
	font-weight: bold;
}

.response:before { content: "Ajax Response"; }
.error:before { content: "Error"; }

.response .type:before { content: "Type: "; }

.timestamp { font-size: smaller; }

#buttons { float: right; }

iframe
{
	border: 0;
	margin: 0;
	padding: 0;
}

#mainframe
{
	height: 90%;
	width: 100%;
	margin: 0;
	padding: 0;
}

a
{
	color: #950f0f;
	text-decoration: none;
}

a:hover
{
	color: #c37c7c;
}

